* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #EFEFEF;
  min-width: 1000px;  
}

h1, h2, h3, footer {
  font-family: 'Staatliches', cursive;
}

p, label {
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 100%;
  background: #535971;
  height: 436px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

form {
  width: 750px;
  height: 1084px;
  background: #FFF;
  margin: 0 auto;
  padding: 64px;
  border-radius: 20px 20px 0px 0px;
}

header {
  width: 750px;
  margin: auto;
  
}

input {
  margin-top: 8px;
  padding-left: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

header h1 {
  width: 163px;
  height: 60px;
  margin-top: 140px;
  margin-bottom: 18px;

  color: #FFF;
  font-size: 48px;
}

header p {
  width: 417px;
  height: 46px;

  color: #FFF;  
  font-size: 20px;  
  margin-bottom: 58px;
}

form h2 {
  color: #535971;
  font-size: 24px;
  padding-bottom: 16px;
  line-height: 34px;  
  border-bottom: 1px solid #E6E6F0;
  margin-bottom: 36px;  
}

.fieldset-register {
  display: flex;
  gap: 24px;
}

.fieldset-register input {
  width: 300px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--back-lines-in-white, #E6E6F0);
  background: var(--shapes-02, #FAFAFC);
  margin-bottom: 16px;
}

.fieldset-register label {
  color: #4E4958;  
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldset-wrapper-mentor h2 {
  margin-top: 30px;
  padding-bottom: 8px;
}

.fieldset-wrapper input {
  width: 622px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--back-lines-in-white, #E6E6F0);
  background: var(--shapes-02, #FAFAFC);  
}

.fieldset-wrapper label {
  color: #4E4958;  
  font-size: 14px;
  line-height: 24px;  
}

.fieldset-wrapper span {
  color: #C1BCCC;  
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
}

.fieldset-wrapper span:hover {
  color: #6d6b70;
}

.fieldset-wrapper-mentor label {
  color: #4E4958;  
  font-size: 14px;
  line-height: 24px;
  margin-top: 32px;
}

.fieldset-wrapper-mentor input {
  width: 622px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--back-lines-in-white, #E6E6F0);
  background: var(--shapes-02, #FAFAFC);
  margin-bottom: 32px;
}

.fieldset-wrapper-mentor span {
  color: #C1BCCC;
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 20px;
  margin-left: 7px;
}

h3 {
  color: #535971;
  font-size: 20px;  
  line-height: 34px;
  margin-bottom: 11px;
}

.col-3 {
  display: flex;
  justify-content: space-between;
}

.col-3 label {
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
}

.col-3 span {
  color: #C1BCCC;
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 20px;
  margin-left: 7px;
}

.col-3 span:hover {
  color: #807d86;
}

.col-3 input{
  display: flex;  
  border-radius: 8px;
  width: 140px;
  height: 56px;  
  border: 1px solid var(--back-lines-in-white, #E6E6F0);
  background: var(--shapes-02, #FAFAFC);  
  margin-bottom: 16px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.input-wrapper-date input {
  width: 300px;
  height: 56px;  
}

.input-wrapper-begin input {
  margin-left: 32px;
  margin-right: 10px;
}

footer {
  width: 750px;
  height: 160px;
  border-radius: 0px 0px 20px 20px;
  background: #535971;
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
  padding: 53px 71px;
}

footer input {
  border-radius: 20px;
  background: #FF5374;
  border: none;  
  width: 608px;
  height: 55.652px;
  padding: 15px 40px;
  gap: 10px;
  color: #FFF;
  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 26px;
}

footer input:hover {
  background: #c73a56;
}

input:invalid {
  border: 1px solid red;
}
